### **<span style="color:crimson">SELF `JOIN`<span>**
* Joining a table to itself.
* Usually when a table has a foreign key referencing its primary key.
___

#### **<span style="color:darkorange">SELF `JOIN`: LINKING A TABLE TO ITSELF</span>**

| id  | name           | start_date               | supervisorid |
| --- | -------------- | ------------------------ | ------------ |
| 1   | Boss Man       | 1980-01-23T00:00:00.000Z | 1            |
| 2   | Andrei Neagoie | 1980-01-23T00:00:00.000Z | 1            |
| 3   | Mo Binni       | 1990-01-13T00:00:00.000Z | 2            |

>Note: Andre is Mo's supervisor, but he is also his own supervisor.

\
**<span style="color:mediumseagreen">What if we want to see the supervisors name rather than his id?</span>**

```sql
SELECT a.id, a.name as "employee,", b.name as "supervisor name"
FROM employee as a, employee as b -- select from the same table twice
WHERE a.supervisorId = b.id;
```
>Note: No special syntax for self join. Same as multi table select (inner join).

| id  | employee       | supervisor name |
| --- | -------------- | --------------- |
| 1   | Boss Man       | Boss Man        |
| 2   | Andrei Neagoie | Boss Man        |
| 3   | Mo Binni       | Andrei Neagoie  |

\
**<span style="color:mediumseagreen">Self join is the same thing as an inner join, except that the primary and foreign keys are in the same table.</span>**

```sql
SELECT a.id, a.name as "employee", b.name as "supervisor name"
FROM employee as a
INNER JOIN employee as b
ON a.supervisorId = b.id;
```

| id  | employee       | supervisor name |
| --- | -------------- | --------------- |
| 1   | Boss Man       | Boss Man        |
| 2   | Andrei Neagoie | Boss Man        |
| 3   | Mo Binni       | Andrei Neagoie  |

[View on DB Fiddle](https://www.db-fiddle.com/f/rG38ZB1tgWWFgfXJ1Xzw5V/2)
___