___
### **<span style="color:red">BETWEEN AND</span>**

* SHORTHAND TO MATCH AGAINST A RANGE OF VALUES (DATES, NUMBERS, ETC.)
* MORE READABLE
* MORE MAINTAINABLE 
* SENSITIVE TO THE ORDER OF THE ARGUMENTS

\
**<span style="color:red">THIS...</span>**

```sql
SELECT <column>
FROM <table>
WHERE <column> BETWEEN X AND Y
```

\
**<span style="color:red">IS THE SAME AS...</span>**

```sql
SELECT <column>
FROM <table>
WHERE <column> >= X AND <column> <= Y
```

___
___
#### <span style="color:lightgreen">Exercise BETWEEN AND</span>
___
___

**<span style="color:lightgreen">EXERCISE 1:</span>**

DB: Store

Table: customers

Question: Who between the ages of 30 and 50 has an income less than 50 000? (include 30 and 50 in the results)

```sql
SELECT *
FROM customers
WHERE (age BETWEEN 30 AND 50) 
AND (income < 50000);
```
___

**<span style="color:lightgreen">EXERCISE 2:</span>**

DB: Store

Table: customers

Question: What is the average income between the ages of 20 and 50? (Including 20 and 50)

```sql
SELECT avg(income)
FROM customers
WHERE age BETWEEN 20 AND 5O;
```

Returns: 59361.925908612832
___