___
### **<span style="color:red">Distinct Keyword</span>**

* REMOVES DUPLICATES
* KEEPS ONE ROW FOR EACH GROUP OF DUPLICATES
* MULTIPLE COLUMNS WILL EVALUATE BASED ON THE COMBINATION OF COLUMNS

\
<span style="color:red">SAMPLE QUERY</span>

```sql
SELECT 
    DISTINCT <col1>, <col2>
FROM
    <table> ;
```
___

#### <span style="color:red">Example:</span>

DB: Employees

\
Table: Salaries

\
<span style="color:red">Query: </span>

```sql
SELECT salary
FROM salaries; -- returns all salaries from table

-- SELECT COUNT(salary)
-- FROM salaries; --> `2844047`
```

\
<span style="color:red">Query: </span>

```sql
SELECT DISTINCT salary
FROM salaries; -- returns only distinct salaries

-- SELECT COUNT(DISTINCT salary)
-- FROM salaries; --> `85814`
```

\
<span style="color:red">Query: </span>

```sql
SELECT DISTINCT salary, from_date 
FROM salaries; -- returns data where salaries and from_date are unique

-- SELECT COUNT(DISTINCT (salary, from_date))
-- FROM salaries; --> `2844047`
```

>Note: We will have more duplicate data. It will only remove duplicates that match both the salary and the from_date.
___

___
___
#### <span style="color:lightgreen">Exercise </span>
___
___

<span style="color:lightgreen">EXERCISE 1:</span>

DB: Employees

Table: titles

Question: What unique titles do we have?

```sql
SELECT DISTINCT titles
FROM titles;
```
___

<span style="color:lightgreen">EXERCISE 2:</span>

DB: Employees

Table: employees

Question: How many unique birth dates are there?

```sql
SELECT COUNT(DISTINCT birth_date)
FROM employees;
```

Returns: `4750`
___

<span style="color:lightgreen">EXERCISE 3:</span>

DB: World

Table: country

Question: Can I get a list of distinct life expectancy ages?

>Note: Make sure there are no nulls.

```sql
SELECT DISTINCT lifeexpectancy FROM country
WHERE lifeexpectancy IS NOT NULL
ORDER BY lifeexpectancy;
```
___