___
### **<span style="color:red">LIKE KEYWORD</span>**

* PARTIAL LOOKUPS
___

#### **<span style="color:red">WHAT IF YOU DON'T KNOW EXACTLY WHAT YOU ARE LOOKING FOR?</span>**

#### <span style="color:red">Example:</span>

DB: Employees

\
Table: Employees

\
<span style="color:red">Query: </span>

```sql
SELECT first_name
FROM employees
WHERE first_name LIKE 'M%' ;
```
\
Returns: Everyone's name that starts with 'M'.

#### **<span style="color:red">IN ORDER TO USE LIKE, YOU NEED TO BUILD PATTERNS TO MATCH!</span>**

PATTERN MATCHING

|PATTERN WILD CARDS|MEANING|
|:---:|:---:|
|%|ANY NUMBER OF CHARACTERS|
|_|1 CHARACTER|

**<span style="color:red">EXAMPLES:</span>**

PATTERN MATCHING

|USE CASES|MEANING|
|:---:|:---:|
|LIKE '%2'|FIELDS THAT END WITH 2|
|LIKE '%2%'|FIELDS THAT HAVE 2 ANYWHERE IN THE VALUE|
|LIKE '_00%'|FIELDS THAT HAVE 2 ZERO'S AS THE SECOND AND THIRD CHARACTER AND ANYTHING AFTER|
|LIKE '%200%'|FIELDS THAT HAVE 200 ANYWHERE IN THE VALUE|
|LIKE '2_%_%'|FINDS ANY VALUES THAT START WITH 2 AND ARE AT LEAST 3 CHARACTERS IN LENGTH|
|LIKE '2___3'|FINDS ANY VALUES IN A FIVE-DIGIT NUMBER THAT START WITH 2 AND END WITH 3|

#### **<span style="color:red">POSTGRES LIKE ONLY DOES TEXT COMPARISON, SO WE HAVE TO CAST WHATEVER WE USE TO TEXT.</span>**

**<span style="color:red">OPTION 1:</span>**

```sql
CAST(salary AS text);
```

\
**<span style="color:red">OPTION 2:</span>**

```sql
salary::text
```

___
### **<span style="color:aqua">ILIKE KEYWORD</span>**

* CASE INSENSITIVE MATCHING
___

___
___
#### <span style="color:fuchsia">Examples:</span>
___
___

<span style="color:fuchsia">1. Find users who's first name starts with the letter 'G'.</span>

DB: Employees

Table: Employees

\
Query: 

```sql
SELECT *
FROM employees
WHERE first_name LIKE 'G%';
```
___

<span style="color:fuchsia">2. Find users who's first name starts with the letter 'G' and ends with the letter 'r'.</span>

DB: Employees

Table: Employees

\
Query: 

```sql
SELECT *
FROM employees
WHERE first_name LIKE 'G%r';
```
___

___
___
#### <span style="color:lightgreen">Exercise Like Keyword</span>
___
___

<span style="color:lightgreen">EXERCISE 1:</span>

DB: Employees

Table: employees

Question: Find the age of all employees who's name starts with M.

[Sample output](https://imgur.com/vXs4093):

<img src="https://i.imgur.com/vXs4093.png" alt="sample output" height="200">

>Note: Use `EXTRACT (YEAR FROM AGE(birth_date))` we will learn about this in later parts of the course.

\
<span style="color:lightgreen">ANSWER:</span>

```sql
SELECT emp_no, first_name, EXTRACT (YEAR FROM AGE(birth_date)) as "age"
FROM employees
WHERE first_name LIKE 'M%';
```
___

<span style="color:lightgreen">Exercise 2:</span>

DB: Employees

Table: employees

Question: How many people's name start with A and end with R?

Expected output: 1846

\
<span style="color:lightgreen">ANSWER: </span>

```sql
SELECT count(emp_no)
FROM employees
WHERE first_name ILIKE 'A%R';
```
___

<span style="color:lightgreen">Exercise 3:</span>

DB: Store

Table: customers

Question: How many people's zip-codes have a 2 in it?

Expected output: 4211 

\
<span style="color:lightgreen">ANSWER: </span>

```sql
SELECT count(customerid)
FROM customers
WHERE zip::text LIKE '%2%';
```
___

<span style="color:lightgreen">Exercise 4:</span>

DB: Store

Table: customers

Question: How many people's zip-code's start with 2 with the 3rd character being a 1.


Expected output: 109 

\
<span style="color:lightgreen">ANSWER: </span>

```sql
SELECT count(customerid)
FROM customers
WHERE zip::text LIKE '2_1%';
```
___

<span style="color:lightgreen">Exercise 5:</span>

DB: Store

Table: customers

Question: Which states have phone numbers starting with 302?

>Note: Replace null values with "No State".

[Expected output](https://imgur.com/AVe6G4c): 

<img src="https://i.imgur.com/AVe6G4c.png" height="300">

\
<span style="color:lightgreen">ANSWER: </span>

```sql
SELECT Coalesce(state, 'No State') AS State
FROM customers
Where phone::text LIKE '302%';
```
___