### [Databases and Tables](https://webdev.slides.com/coltsteele/getting-started-with-mysql/fullscreen)

#### <span style="color:hotpink">Getting Started</span>

To find out what version of MySQL you are running: `mysql --version`

To open MySQL in the terminal: `mysql -u root -p`

To look at what databases currently exist: `show databases;`

>Note: We can also access our database through the MySql Workbench that we installed in our applications folder.

#### <span style="color:hotpink">Databases</span>

To create a database: `CREATE DATABASE <name>;`

To delete a database: `DROP DATABASE <name>;`

To select a database you want to work on: `USE <database name>;`

To look inside current database: `SELECT database();`

#### <span style="color:hotpink">Data Types</span>

<img src="./images/data-types.png" alt="list of different data types" height="300">

\
<span style="color:pink">Commonly Used Data Types</span>

`INT` - Whole number with max signed value of 2147483647 (+/-)

`VARCHAR` - Variable-length string

#### <span style="color:hotpink">Tables</span>

```sql
CREATE TABLE tablename
    (
        column_name data_type,
        column_name data_type
    );
```

#### <span style="color:hotpink">Let's go through the process of creating a database...</span>

```sql
mysql -u root -p  -- enter root password

CREATE DATABASE pet_shop;

USE pet_shop;

CREATE TABLE cats(
    name VARCHAR(50),
    age INT
);

CREATE TABLE dogs(
    name VARCHAR(50),
    breed VARCHAR(50),
    age INT
);

SHOW TABLES; -- shows the tables in the database 'pet_shop'

SHOW COLUMNS FROM cats; -- shows columns from 'cats' table

DESC cats; -- same output as above

DROP TABLE cats; -- to drop 'cats' table
```